.idea/
assignment1/*
assignment2/*
env
.env/*
pip-selfcheck.json
.Python
EX1/.ipynb_checkpoints/
EX1/Iris_loss.png
EX1/Q2/.ipynb_checkpoints/
EX1/*.model

EX2/__MACOSX
EX2/EX2_data
EX2/log*
VOCdevkit

EX3/log
EX3/*.t7